<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css">
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
            {% include 'menu.html' %}
        </div>
    </header>

    <div class="hobby">
        <div class="sydney ind">
            <div class="profile">
                <div class="profile-picture sydney">
                    <img src="./static/img/dolphin.png">
                </div>
                <h1>Sydney's Hobbies</h1>
            </div>
            <div class="hobby-box">
                <div class="hobby-img">
                    <img src="./static/img/snowboarding.png">
                    <img src="./static/img/reading.png">
                    <img src="./static/img/baking.png">
                </div>
            </div>
            <div class="map-box">
                <h2>Sydney's Map</h2>
                <img src="./static/img/mahek-map.png">
            </div>
        </div>

        <div class="mahek ind">
            <div class="profile">
                <div class="profile-picture mahek">
                    <img src="./static/img/butterfly.png">
                </div>
                <h1>Mahek's Hobbies</h1>
            </div>
            <div class="hobby-box">
                <div class="hobby-img">
                    <img src="./static/img/makeup.png">
                    <img src="./static/img/grand-piano.png">
                    <img src="./static/img/gamer.png">
                </div>
            </div>
            <div class="map-box">
                <h2>Mahek's Map</h2>
                <img src="./static/img/mahek-map.png">
            </div>
        </div>
    </div>
</body>

</html>
