<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Personal Portfolio">
  <meta property="og:description" content="My Personal Portfolio">
  <meta property="og:url" content="{{ url }}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./static/styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xTiT0pvOR1vWvD6wKTh9K/XX3W7pnrGM1mb6qdkdaavW9Pmjv3S/lZ3LX1F1r0J81y1ZDVbWUGIuRoHlYuq1ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
  <title>{{ title }}</title>
</head>

<body>
  <header class="nav-bar">
    {% include 'menu.html' %}
  </header>
  <section id="home" class="section">
    <div class="typing-page">
      <div class="typing-content">
        <h1>Hi, my name is</h1>
        <h1>Mahek Cheema.</h1>
      </div>
      <div class="bunny-border">
        <img src="./static/img/bunny.png" alt="Bunny Border">
        <img src="./static/img/bunny.png" alt="Bunny Border">
        <img src="./static/img/bunny.png" alt="Bunny Border">
      </div>
      <div class="wrapper">
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
      </div>
    </div>
  </section>
  <section id="about" class="section">
    <h1 class="holder-title">Holder</h1>
    <h1 class="about-title">About Me</h1>
    <div class="profile">
      <div class="mahek ind">
        <div id="profile-picture" class="profile-picture mahek">
          <img src="./static/img/powerpuff.png" alt="Profile Picture">
        </div>
        <div class="about-box">
            <div class="about-content">
              <p><strong>Full Name:</strong></p>
              <p>Mahek Cheema</p>
              <p><strong>Education:</strong></p>
              <p>University of Toronto - <em>Honours Bachelor of Science in Computer Science (2022 - 2026)</em></p>
              <p>Turner Fenton Secondary School - <em>International Baccalaureate Diploma (2018 - 2022)</em></p>
              <p><strong>Email:</strong> mahek26c@gmail.com</p>
          <div class="resume-container">
            <div class="resume-box">
              <a href="static/styles/mahekcheema.pdf" download>Resume</a>
            </div>
            <div class="linkedin-box">
              <a href="https://www.linkedin.com/in/mahek-cheema/">LinkedIn</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="experience" class="section">
    <div class="experience-page">
    <div class="blog-card">
         <input type="radio" name="select" id="tap-1" checked>
         <input type="radio" name="select" id="tap-2">
         <input type="radio" name="select" id="tap-3">
         <input type="radio" name="select" id="tap-4">
         <input type="checkbox" id="imgTap">
         <div class="sliders">
            <label for="tap-1" class="tap tap-1"></label>
            <label for="tap-2" class="tap tap-2"></label>
            <label for="tap-3" class="tap tap-3"></label>
            <label for="tap-4" class="tap tap-4"></label>
         </div>
         <div class="inner-part">
            </label>
            <div class="content content-1">
               <div class="title">
                  Production Engineering Fellow <span class="company">- MLH Fellowship</span>
                   <p>Jun 2023 - Sep 2023</p>
               </div>
               <div class="text">
                <ul>
                  <li>Collaborated with a multidisciplinary team, received mentorship, and developed skills in
                      production engineering best practices such as automating deployment, continuous integration, and
                      bash scripting</li>
                  <li>Developed and continuously improved a web application using Flask, Jinja, HTML, CSS, and
                      MySQL</li>
               </ul>
               </div>
            </div>
         </div>
         <div class="inner-part">
            </label>
            <div class="content content-2">
               <div class="title">
                  Finance Associate Coordinator <span class="company">- PepsiCo</span>
                   <p>Apr 2023 - Jun 2023</p>
               </div>
               <div class="text">
                <ul>
                  <li>Processed 40+ bulk request orders using SAP MDG, reducing backlog and processing time</li>
                  <li>Identified possibilities for cost reduction and performance improvement by analyzing PepsiCo
                      vendors and reconciling customer accounts as part of a P&L study</li>
               </ul>
               </div>
            </div>
         </div>
         <div class="inner-part">
            </label>
            <div class="content content-3">
               <div class="title">
                  Founder & Tutor<span class="company">- Accelerated Tutors</span>
                   <p>Sep 2020 - Present</p>
               </div>
               <div class="text">
                <ul>
                  <li>Organized employee schedules, assessed students strengths and needs, created promotional
                      material</li>
                  <li>Tutored a total of ten students and planned lessons in the subjects of mathematics and science
                      to support students</li>
               </ul>
               </div>
            </div>
         </div>
         <div class="inner-part">
            </label>
            <div class="content content-4">
               <div class="title">
                  Child Care Services Volunteer <span class="company">- City of Brampton</span>
                   <p>Jul 2019 - Sep 2020</p>
               </div>
               <div class="text">
                <ul>
                  <li>Planned, organized and delivered high quality safe and stimulating care to all children</li>
                  <li>Provided a high level of front line customer service including greeting and engaging children</li>
               </ul>
               </div>
            </div>
         </div>
    </div>
  </section>
</body>

</html>
