<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
            {% include 'menu.html' %}
        </div>
    </header>

    <div class="profile">
        <div class = "sydney ind">
            <div id="profile-picture" class="profile-picture sydney">
                <img src="./static/img/dolphin.png">
            </div>
            <h1 class = "name">Sydney</h1>
            <p class="bio">Hello! My name is Sydney, and I am a excited to learn about production engineering this summer!</p>

            <div class="about">
                <div class="about-box">
                    <h1>Education: <span>The University of British Columbia (UBC)</span></h1>
                    <h1>Country: <span>Canada</span></h1>
                    <h1>Interest: <span></span></h1>
                </div>
            </div>
        </div>
        <div class = "mahek ind">
            <div id="profile-picture" class="profile-picture mahek">
                <img src="./static/img/logo.jpg">
            </div>
            <h1 class = "name">Mahek</h1>
            <p class="bio">Hello! My name is Mahek, and <i>insert short biography here</i></p>

            <div class="about">
                <div class="about-box">
                    <h1>Education: <i>insert text here</i></h1>
                    <h1>Country: <i>insert text here</i></h1>
                    <h1>Interest: <i>insert text here</i></h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
